<html>
<head>
<link rel="icon" href="favicon.png" type="image/png" sizes="32x32">
<title>RSS News Feed App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="NewsFeedApp" ng-controller="MainController as ctrl">
  <div class="main-container">
<div>
<img src="favicon.png" class="logo">
<h4 id="appTitle">News Feed App</h4> </div>
<h5>Find the most popular articles of your interest!</h5> <br>
<h5 class="categorySelect">Select Your Feed Category</h5><br>
<div class="buttonGroup" role="group" aria-label="category">
  <button class="btn btn-default" ng-click="ctrl.getSources('Business')">Business</button>
  <button class="btn btn-default" ng-click="ctrl.getSources('Sport')">Sport</button>
  <button class="btn btn-default" ng-click="ctrl.getSources('Entertainment')">Entertainment</button>
  <button class="btn btn-default" ng-click="ctrl.getSources('General')">General</button>
  <button class="btn btn-default" ng-click="ctrl.getSources('Music')">Music</button>
  <button class="btn btn-default" ng-click="ctrl.getSources('Technology')">Technology</button>
</div><br><br>
<div class="form-group">
    <label id="selectLabel" for="sortByList">Sort by:</label>
    <select class="form-control" id="sortByList" ng-model="ctrl.sortOption">
      <option>Top</option>
      <option>Latest</option>
      <option>Popular</option>
    </select>
  </div>
<div class="w3-container">
<sources-cards class="hidden" sources="ctrl.sources" get-articles="ctrl.getArticles(index);"></sources-cards>
<articles-cards class="hidden" articles="ctrl.articles"></articles-cards>   
</div>
<div class="fixed-action-btn horizontal">
    <i id="scrollTopBtn" ng-click="scrollTop()" class="btn-floating btn-large default material-icons medium">expand_less</i>
</div>
<div id="spinner" class="preloader-wrapper active hidden">
  <div class="spinner-layer">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>