body{
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    margin-top:12%;
}

h2{
   font-size: 2em;
}

.search-results{
    
}

.footer{
    text-align: center;
    color: white;
}
