page-home {

    .card-shadow{
        -webkit-box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.2);
        box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.2);
    }

    div.item-inner{
        border: none!important;
    }
}
