body {
  font-family: 'Sans 26px', serif;
  margin: 5px;
  background-color: #1E88E5;
}

.jumbotron{
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 10px;
    border-radius: 20px; 
}

#workersNum{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}

canvas {
  margin-top: 5px;
}

.menu {
  width: 100%;
}

#image {
  width: 90%;
  border-radius: 10px;
}

#file{
    margin-bottom: 30px;
}

.imageLoader{
    margin-bottom: 30px;
}

#downloadBtn{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 2px solid black;
}

@media screen and (max-width: 641px){
    .jumbotron {
        margin-left: 0; 
        margin-right: 0; 
        margin-top: 0;
    }
    
    .btn{
        display: block;
    }

}

@media screen and (max-width: 517px) {
    .btn-group{
    margin-left: 11%;
    }

}

